.header{

	    padding: 30px 0;

    background: #f5f5f5;

    border-top: 10px solid #696D89;

}
#email{
	cursor:pointer;
}

.profile-content{

	float:left;	

}

.profile-image{

	    width: 300px;

    border-radius: 50%;

    margin-right: 30px;

}

.btn-cta-primary, a.btn-cta-primary {

    background: #866AA0;

    border: 1px solid #866AA0;

    color: #fff;

    font-weight: 600;

    text-transform: uppercase;

	padding: 0px 22px 5px 0px;

}

.header .btn {

    margin-top: 10px;

    font-weight: 700;

	

}

.btn .btn-cta-primary .shiva{
	margin-top:0px;
}

.btn{

	display: inline-block;

    padding: 6px 12px;

    margin-bottom: 0;

    font-size: 14px;

    font-weight: 400;

    line-height: 1.42857143;

    text-align: center;

    white-space: nowrap;

    vertical-align: middle;

    -ms-touch-action: manipulation;

    touch-action: manipulation;

    cursor: pointer;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

    background-image: none;

    border: 1px solid transparent;

    border-radius: 4px;

}

.fa {

	padding: 8px;

    font-size: 24px;

    width: 50px;

    text-align: center;

    text-decoration: none;

    margin: 5px 2px;

    border-radius: 50%;

}

a{

	text-decoration:none;

}

ul{

	    list-style: none;

		padding-left: 0;

		margin-left: -5px;

}

li{

	    display: inline-block;

		

}

.fa:hover {

    opacity: 0.7;

	color:black;

	 text-decoration:  none;

}



.fa-facebook {

     background: #3B5998;

  color: white;

}



.fa-linkedin {

  background: #007bb5;

  color: white;

}



.fa-skype {

  background: #00aff0;

  color: white;

}
