body{font-family:Lato,arial,sans-serif;color:#434343;background:#D6DDE1;font-size:16px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
h1,h2,h3,h4,h5,h6{font-family:Montserrat,sans-serif;font-weight:700;color:#696D89}
a{color:#2A84D2;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out}
a:hover{text-decoration:underline;color:#53566c;color:#2169a7}
.btn,a.btn{-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-ms-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;font-family:Montserrat,arial,sans-serif;padding: 0px 21px 5px 0px;font-weight:700}
.btn .fa,a.btn .fa{margin-right:5px}
.btn:focus,a.btn:focus{color:#fff}
.btn-cta-primary,a.btn-cta-primary{background:#866AA0;border:1px solid #866AA0;color:#fff;font-weight:600;text-transform:uppercase}
.btn-cta-primary:hover,a.btn-cta-primary:hover{background:#795e93;border:1px solid #795e93;color:#fff}
.btn-cta-secondary,a.btn-cta-secondary{background:#866AA0;border:1px solid #866AA0;color:#fff;font-weight:600;text-transform:uppercase}
.btn-cta-secondary:hover,a.btn-cta-secondary:hover{background:#795e93;border:1px solid #795e93;color:#fff}
.text-highlight{color:#272832}.label-theme{background:#6ABA67;font-size:12px}
a.dotted-link{border-bottom:1px dotted #696D89;color:#696D89}
a.dotted-link:hover{text-decoration:none;color:#3d3f4f}
.header{padding:30px 0;background:#f5f5f5;border-top:10px solid #696D89}
.header .btn{margin-top:10px;font-weight:700}
.header .profile-image{margin-right:30px}
.header .profile-content .name{color:#3d3f4f;font-size:38px;margin-bottom:5px;margin-top:30px}
.header .profile-content .desc{color:#696D89;font-family:Lato,arial,sans-serif;font-weight:400;font-size:24px;margin-top:0;margin-bottom:15px}
.header .profile-content .social a{background:#a1a4b7;width:36px;height:36px;display:inline-block;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;color:#fff;text-align:center}
.header .profile-content .social a:hover{background:#696D89}
.header .profile-content .social a .fa{font-size:20px;padding-top:8px}
.sections-wrapper{padding-top:60px;padding-bottom:60px}
.section{margin-bottom:30px}
.section .section-inner{background:#fff;padding:30px;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;border-radius:10px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}
.section .heading{margin-top:0;margin-bottom:30px;color:#484b5e;font-size:24px}
.section .content .more-link .fa{margin-right:5px;font-size:14px}
.latest .item{margin-bottom:30px}
.latest .item .title{font-size:18px;margin-top:0}
.latest .item .title .label{margin-left:5px;font-size:12px}
.latest .item .title a{color:#696D89}
.latest .item .title a:hover{color:#53566c}
.latest .item .project-image:hover{-webkit-opacity:.8;-moz-opacity:.8;opacity:.8}
.latest .divider{margin-bottom:60px}.latest .featured{margin-bottom:60px}
.latest .featured .title{margin-bottom:5px;font-size:20px}
.latest .featured .summary{margin-bottom:30px;color:#696D89}
.latest .featured img{margin-bottom:30px}
.latest .featured .desc{margin-bottom:30px}
.latest .featured-image{position:relative}
.latest .featured-image .text{background:#2A84D2;color:#fff}
.latest .featured-image .ribbon{position:absolute;top:-4px;right:-4px;width:110px;height:110px;overflow:hidden}
.latest .featured-image .ribbon .text{font-family:Montserrat,sans-serif;position:relative;left:-8px;top:18px;width:158px;padding:10px 10px;font-size:15px;font-weight:700;text-align:center;text-transform:uppercase;color:#fff;background-color:#866AA0;-webkit-transform:rotate(45deg) translate3d(0,0,0);-moz-transform:rotate(45deg) translate3d(0,0,0);-ms-transform:rotate(45deg) translate3d(0,0,0);-o-transform:rotate(45deg) translate3d(0,0,0)}
.latest .featured-image .ribbon .text:after,.latest .featured-image .ribbon .text:before{content:'';position:absolute;bottom:-5px;border-top:5px solid #534064;border-left:5px solid transparent;border-right:5px solid transparent}
.latest .featured-image .ribbon .text:before{left:0}
.latest .featured-image .ribbon .text:after{right:0}
.projects .item{margin-bottom:30px}
.projects .item .title{font-size:16px;margin-top:0;margin-bottom:5px;line-height:1.5}
.projects .item .title a{color:#696D89}
.projects .item .title a:hover{color:#53566c}
.experience .item{margin-bottom:30px}
.experience .item .title{font-size:16px;margin-top:0;margin-bottom:5px;line-height:1.5}
.experience .item .title .place{color:#999;font-weight:400}
.experience .item .title .place a{color:#999}
.experience .item .title .place a:hover{color:#666}
.experience .item .title .year{color:#999;font-weight:400}
.github-graph{margin-bottom:30px}
.github-graph .js-calendar-graph-svg{max-width:100%}
.ghfeed{height:600px}
.ghfeed,.ghfeed *,.ghfeed :after,.ghfeed :before{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.info .fa{margin-right:15px;color:#bec0cd}.info .fa.fa-envelope-o{font-size:14px}.info ul{margin-bottom:0}.info li{margin-bottom:15px}.info li:last-child{margin-bottom:0}.skills .intro{margin-bottom:30px}.skills .skillset .item{margin-bottom:30px}.skills .skillset .level-title{font-size:16px;position:relative;margin-top:0;margin-bottom:10}.skills .skillset .level-title .level-label{color:#bec0cd;font-size:14px;font-weight:400;font-family:Lato,arial,sans-serif;position:absolute;right:0;top:0}.skills .skillset .level-bar{height:15px;background:#e8e8e8}.skills .skillset .level-bar-inner{height:15px;background:#9396ac}.testimonials .item{margin-bottom:30px}.testimonials .item:last-child{margin-bottom:0}.testimonials .item .quote{color:#666;font-size:16px;border-left-color:#a7cdee;margin-bottom:15px}.testimonials .item .quote .fa{color:#7db5e5;margin-right:15px}.testimonials .item .source{font-size:14px;padding-left:30px;font-weight:500}.testimonials .item .source .name{color:#8488a1;font-weight:600}.testimonials .item .source .title{color:#999}.education .item{margin-bottom:30px}.education .item:last-child{margin-bottom:0}.education .item .title{font-size:16px;margin-top:0}.education .item .university{font-family:Lato,arial,sans-serif;font-size:13px;color:#999;font-weight:600;padding-left:25px}.education .item .university .year{color:#a1a4b7;font-weight:500}.languages .item{margin-bottom:15px}.languages .item .title{color:#696D89}.languages .item .level{color:#999}.languages .item:last-child{margin-bottom:0}.languages .item .fa{color:#7db5e5}.blog .item{margin-bottom:30px}.blog .item .title{font-size:18px;line-height:1.3}.blog .item .title a{color:#696D89}.blog .item .title a:hover{color:#53566c}.blog .item:last-child{margin-bottom:0}.list ul li{margin-bottom:10px}.list ul li .fa{margin-right:5px}.list ul li a{color:#696D89}.list ul li a:hover{color:#3d3f4f}.credits ul li{margin-bottom:10px}.credits ul li .fa{margin-right:5px}.credits ul li a{color:#696D89}.credits ul li a:hover{color:#3d3f4f}.credits .btn{margin-bottom:15px}.footer{background:#272832;color:#fff;padding:10px 0}.footer .copyright{line-height:1.6;color:#9396ac;font-size:14px}.footer a{color:#fff}.footer .fa-heart{color:#fb866a}@media (max-width:767px){.header{text-align:center}.header .profile-image{float:none!important;margin:0 auto}.header .profile-content{float:none!important;text-align:center}.header .btn{margin-top:30px;float:none!important}.project-image{margin-bottom:15px}}@media (min-width:1400px){.container{width:1360px}}
